/* スマートフォン用設定 */
@media (max-width: 767px) {
  #menuOpen {
    display: block;
  }

  header ul {
    display: none;
  }

  p {
    font-size: 12px;
  }

  #concept {
    height: 500px;
    padding-top: 500px;
    background-size: cover;
  }

  #concept .darkback {
    height: 500px;
    padding-top: 100px;
  }

  #concept h1 {
    font-size: 24px;
  }

  .imgURL {
    font-size: 8px;
  }

  .container h1 {
    font-size: 20px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  #concept h1 {
     font-size: 64px;
  }

  #concept p {
    font-size: 24px;
  }

  #concept .imgURL {
    font-size: 16px;
  }

  #features {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #features .image {
    width: 50%
  }

  .info {
    width: 40%;
    text-align: left;
  }

  .info p {
    font-size: 24px;
  }

  #function {
    display: flex;
    justify-content: space-around;
  }

  .card {
    width: 30%;
  }
}
