* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  width: 400px;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  height: 40px;
  background: #FFF8B0;
  color: white;
  /* ヘッダの位置固定の設定 */
  position: fixed;
  top: 0;
  /* ロゴとナビを横並びにする設定 */
  display: flex;
  align-items: center;
  z-index: 2;
}

header a {
  display: block;
  margin: 0;
  height: 40px;
  /* 文字の縦方向の配置を調整 */
  line-height: 40px;
  color: #888;
}

header h1 {
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
}

header nav {
  margin-left: auto;
}

#menuOpen, #menuClose {
  display: none;
  color:#888;
  font-size: 24px;
  padding: 8px 12px;
  cursor: pointer;
}

header ul {
  margin: 0;
  /* 各リンクを横並びにする設定 */
  display: flex;
}

header li {
  margin-left: 10px;
  padding: 0 10px;
  font-size: 14px;
}

header li:hover {
  background-color: white;
}

.container {
  padding: 0 50px;
}

.container h1 {
  font-size: 32px;
  margin-top: 30px;
  background-color: #FFF8B0;
}

div.image {
  position: relative;
}

.imgURL {
  position: absolute;
  bottom: 0;
  right: 0;
  letter-spacing: 2px;
  color: white;
}

#concept {
  height: 900px;
  width: 100%;
  padding-top: 900px;
  background-image: url('../img/concept.jpg');
  background-size: cover;
  letter-spacing: 2px;
  position: relative;
  color: white;
}

#concept .darkback {
  height: 900px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  padding-top: 250px;

}

#concept h1 {
  font-size: 45px;
  letter-spacing: 5px;
}

#features img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

#function img {
  width: 100%;
}

.card {
  overflow: hidden; /* 要素がはみ出したときの指定 */
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
  padding-bottom: 10px;
  margin-bottom: 40px;
}

#developer img {
  width: 200px;
  height: 200px;
}

#developer .imgURL {
  position: static;
  color: #333;
  font-size: 8px;
}

footer {
  background-color: black;
  color: gray;
  height: 150px;
  line-height: 150px;
  font-size: 22px;
}

/* モーダルに関する設定 */
.hidden {
  display: none;
}

#modal {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  background-color: rgba(230, 230, 230, 0.5);
}

#modal ul {
  margin: 0;
  padding-left: 0;
  text-align: left;
}

#modal a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: white;
  margin-bottom: 2px;
  color: #333;
  font-size: 16px;
}
